<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.waam">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waam"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".CallingActivity"></activity>
        <activity
            android:name=".AllUsersActivity"
            android:parentActivityName=".DrawelayoutActivity" />
        <activity android:name=".Unfriend" />
        <activity android:name=".DailyMatch" />
        <activity android:name=".AgentProfile" />
        <activity android:name=".ChatMessage" />
        <activity android:name=".SearcMessage" />
        <activity android:name=".DiscoverEvent" />
        <activity android:name=".DiscoverDrawerLayerout" />
        <activity android:name=".LookingFor" />
        <activity android:name=".finalProfile" />
        <activity android:name=".picture" />
        <activity android:name=".LocationDetailActivity" />
        <activity android:name=".MatchFragment" />
        <activity android:name=".Matchfriends" />
        <activity android:name=".CompleteProfile" />
        <activity android:name=".LocationDetectActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".DrawelayoutActivity" />
        <activity android:name=".PaymentPage" />
        <activity android:name=".Successverified" />
        <activity android:name=".Verfy2" />
        <activity android:name=".Splash" />
        <activity android:name=".Verification1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".passw" />
        <activity android:name=".Another" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Interest" />
        <activity android:name=".ViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>